[submodule "deps/libstatgrab"]
	path = deps/libstatgrab
	url = git@github.com:schmurfy/libstatgrab.git
[submodule "deps/luasocket"]
	path = deps/luasocket
	url = git://github.com/LuaDist/luasocket.git
